<div class="card container-fluid bg-light text-dark">
      <h5 class="card-title">About Us</h5>
      <p class="card-text">This application is intended to use for personal improvement or educational purposes. All assets used inside the application are believed to be open source, hence falls under MIT license for use/reusability. Please visit <a href="https://opensource.org/licenses/MIT">https://opensource.org/licenses/MIT</a> for more information about opensource lisences and produts.</p>
      <p class="card-text">Our Team</p>
      <div class="container-fluid">
        <div class="quizObject">
            <div class="card bg-dark mx-auto" style="width: 15rem">
                <img src="../../../assets/Hrushikesh.PNG" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h4>Hrushikesh Mahapatro</h4>
                    <h6>Full Stack Developer</h6>
                    <p class="card-text">Managing UI, Backend, Improvements and Changes.</p>
                </div>
            </div>
        </div>
        <div class="quizObject">
            <div class="card bg-dark mx-auto" style="width: 15rem">
                <img src="../../../assets/DYoganidhi.PNG" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h4>D Yoganidhi</h4>
                    <h6>Full Stack Developer</h6>
                    <p class="card-text">Backend Development, DB Design, Functional Decisions, Improvements and Changes.</p>
                </div>
            </div>
        </div>
    </div>
  </div>