.nav-link {
    border-radius: 5px;
}
#dropdown01 {
    cursor: pointer;
}
.signIn{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 1px solid gray;
    padding: 5px;
    margin-top: 5px;
}